button {
    border: none;
    outline: none;
    transition: 250ms;
    display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
}

button:hover {
    filter: brightness(0.85);
}