
/*
*{
    user-select: none; 
}

*/

button {
    border: none;
    outline: none;
    transition: 250ms;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
    padding: 16px;
    border-radius: 8px;
    background: rgba(249, 249, 249, 0.2);


}

button:disabled{
    opacity: .2;
}

input {
    border: none;
    outline: none;
}

button:hover {
    filter: brightness(0.85);
}

/* ScrollingBar*/

/* Hide the scrollbar */
::-webkit-scrollbar,
::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 0.001em;
    height: 4px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    background-color: #7D7E80;

}

/* Style the scrollbar track */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    background-color: #5C5D60;
}

.closeButton{
    height: 36px;
    width: 36px;
    background: rgba(249, 249, 249, 0.2);
}

input[type=checkbox]{
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none; 
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background: rgba(249, 249, 249, 0.2);
    cursor: pointer;
}
input[type="checkbox"]:before {
    content: '\2713'; 
    font-size: 20px;
    font-weight: 999;
    color: white;
    display: block;
    text-align: center;
    line-height: 22px;
    visibility: hidden; 
  }
  input[type="checkbox"]:checked:before {
    visibility: visible;

  }

.inputOne{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 330px;
    height: 48px;
    padding: 40px, 16px, 12px, 16px;
    border-radius: 8px;
}

.check{
    margin-right: 10px;
}

.label{
    font-weight: 200;
    font-size: 16px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

