.screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: 1s;
    background: rgba(0, 0, 0, 0.616);

    >div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 754px;
        height: 880px;
        padding: 32px;
        border-radius: 32px;
        background: var(--color-primary);
        color: var(--color-white);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        gap: 32px;
        
        & input[type="text"]{
          background: rgba(249, 249, 249, 0.1);
          border-radius: 8px;
          height: 40px;
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5) inset;
          width: 120px;
          text-align: center;
        }

        >div:first-child{
          display: flex;
          justify-content: space-between;
          align-items: center;

          >div{
            display: flex;
            align-items: center;
            gap: 16px;
            font-size: 24px;
          }
        }

        >div:last-child{
          height: 100%;
          display: flex;
          gap: 32px;

          >div{
            width: 100%;
            height: 100%;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 32px;
            
            >div{
              border-radius: 16px;
              background: rgba(73, 74, 76, 1);
            }
          }

          >div:first-child{

            >div:first-child{
              height: 128px;
              display: flex;
              flex-direction: column;
              padding: 16px;
              gap: 16px;

              >div:first-child{
                height: 40px;

                >h3{
                  margin-left: 30px;
                  
                }

              }  
              >div:last-child{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 50px;
              }           
            }

            >div:nth-child(2){
              height: 368px;
              display: flex;
              flex-direction: column;
              padding: 16px;
              gap: 16px;

              >div:first-child{
                height: 40px;

                >h3{
                  margin-left: 30px;  
                }
              }

              >div:last-child{
                height: 280px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                >div{
                  height: 40px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  >h3{
                    width: 180px;
                    display: flex;
                    justify-content: center;
                  }
                  >h4{
                    width: 120px;
                    display: flex;
                    justify-content: center;
                    opacity: .6;
                  }
                }
              }
            }

            >div:last-child{
              height: 176px;
              display: flex;
              flex-direction: column;
              padding: 16px;
              gap: 16px;

              >div:first-child{
                height: 40px;

                >h3{
                  margin-left: 30px;  
                }
              }

              >div:last-child{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                >div{
                  height: 40px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  >h3{
                    width: 180px;
                    display: flex;
                    justify-content: center;
                  }
                  >h4{
                    width: 120px;
                    display: flex;
                    justify-content: center;
                    opacity: .6;
                  }
                }
              }
              
            }
          }


          >div:last-child{


            >div:first-child{
              width: 320px;
              height: 528px;
              padding: 32px;

              >div{
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 4px;
                align-items: center;
                justify-content: space-between;
                
                >button{
                  font-size: 24px;
                  border-radius: 16px;
                  width: 80px;
                  height: 80px;
                }

                >div{
                  width: 100%;
                  height: 100px;
                  display:flex;
                  padding: 8px 0px;
                  gap: 8px;

                  >button{
                    width: 100%;
                    border-radius:16px;
                  } 
                }
              }
            }

            >div:last-child{
              background-color: transparent;
              height: 175px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              gap: 32px;
              
              >button{
                background: rgba(94, 135, 8, 1);

              }

              >div{
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8px;
              }
          }
        }   
      }
    }
  }

  .closeButton {
    top: 25px;
    right: 20px;
    cursor: pointer;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
    background: rgba(249, 249, 249, 0.2);
  }

  .next{
    background: rgba(94, 135, 8, 1);
  }