    .container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        border: 3px solid #000;
        height: 50vh !important;
        
      }
      
      
    .container>*{
        color: #000;
    }
    img[alt="tomate"]{
        margin-right: 100px;
    }
    


