.screen{
    position: fixed;
    top: 0;
    left: 9%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: 1s;

    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 1282px;
        height: 798px;
        padding: 40px 80px;
        border-radius: 16px;
        gap: 32px;
        background: rgba(73, 74, 76, 1);
       
    
        > *{
            transition: .1.5s ease;
        }
            >input{
                width: 100%;
                height: 60px;
                padding: 12px 32px 12px 32px;
                border-radius: 12px;
                gap: 8px;
                color: rgb(243, 234, 234);
                background: rgba(249, 249, 249, 0.1);
                box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5) inset;
                font-size: 32px;
                text-align: center;
            }
    
            .keys{
                display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 368px;
            }
    
            & div:last-child{
                height: 80px;
            }
        }   
    
    
    
    .rowOne,
    .rowTwo,
    .rowThree,
    .rowFour{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 12px;
    }
    
    .key{
        width: 80px;
        height: 80px;
        padding: 24px;
        border-radius: 12px;
        background: rgba(249, 249, 249, 0.2);
        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
        font-size: 24px;
    }
    
    .backspace,
    .mayus{
        width: 160px;
        height: 80px;
        padding: 24px;
        border-radius: 12px;
        background: rgba(249, 249, 249, 0.2);
        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
        font-size: 18px;
    }  
}




.disquet{
    height: 30px;
}

.spaceButtons{
    display: flex;
    justify-content: space-between;

}

.cleanBtn,
.spaceBtn,
.checkBtn{
    height: 80px;
    width: 224px;
    border-radius: 12px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
    background: rgba(249, 249, 249, 0.2);
}

.spaceBtn{
    width: 656px;
    > img{
        margin-top: 40px;
    }
}

.checkBtn{
    background: rgba(94, 135, 8, 1);


}

.key:active,
.backspace:active,
.mayus:active,
.cleanBtn:active,
.spaceBtn:active,
.checkBtn:active{
    background-color: aliceblue;
    color: black;
}

.addButtonsContainer{
    display: flex;
    align-items: center;

    >button{
        width: 122px;
        height: 48px;
        background: rgba(249, 249, 249, 0.2);
        border-radius: 8px;

    }
}

strong{
    font-size: 24px;
}


