@import "../../styles//var/colors.css";
@import "../../styles//var/fontSize.css";

.screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: 1s;
    background: rgba(15, 15, 15, 0.829);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1116px;
    height: 840px;
    gap: 32px;
    border-radius: 16px;
    background: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0px 0px 10px rgba(117, 117, 117, 0.2);

}

.closeButton {
    cursor: pointer;
    background: none;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 6px;
    background: rgba(249, 249, 249, 0.2);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
}
.modal>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1052px;
    height: 48px;
}
.modal>div:first-child>div {
    width: 3em;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 70%;
}

.modal>div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #494A4C;
    width: 1052px;
    height: 80px;
    border-radius: 16px;
    position: relative;

}
.modal>div:nth-child(2)>div:last-child{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    font-size: 32px;
}
.modal>div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1052px;
    height: 584px;
    gap: 32px
}
.modal>div:last-child>div:first-child,
.modal>div:last-child>div:last-child{
    position: relative;
    width: 658px;
    height: 584px;
    padding: 16px;
    border-radius: 16px;
    gap: 32px;
    background: rgba(73, 74, 76, 1);
    display: flex;
    flex-direction: column;


}
.modal>div:last-child>div:last-child{
    width: 362px;
    height: 584px;
    gap: 16px;

}
.modal>div:last-child>div:first-child>div:first-child,
.modal>div:last-child>div:first-child>div:nth-child(2){
    padding: 16px;
    width: 626px;
    height: 72px;
    border-radius: 12px;
    gap: 8px;
    background: rgba(249, 249, 249, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5) inset;
}
.modal>div:last-child>div:first-child>div:nth-child(2){
    box-shadow: none;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}
.modal>div:last-child>div:first-child>div:last-child{
    display: flex;
    width: 626px;
    height: 368px;
    gap: 16px;

}

.sectionRight{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 300px;
}


.actionBtn{
    width: 36px;
    height: 36px;
    padding: 12px;
    border-radius: 6px;
    background: rgba(249, 249, 249, 0.2);
}
.keyboardBtn,
.activePay{
    width: 141.67px;
    height:48px;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
    background: rgba(249, 249, 249, 0.2);
    transition: 200ms;
}
.activePay{
   
    background: rgb(255, 255, 255);
    color: #000;
    transition: 200ms;

}
.keyboardBtn:active{
    background-color: antiquewhite;
    color: #000;
}
.keyboardItems{
    width: 80px;
    height: 80px;
    padding: 24px;
    border-radius: 16px;
    background: rgba(249, 249, 249, 0.2);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
    font-size: var(--font-size-large);
    margin-top: 0px;
    opacity: 0.8;

}
.modal>div:last-child>div:first-child>div:last-child>div:first-child{
    display: flex;
    flex-wrap: wrap;
    width: 272px;
    height: 200px;
    gap: 12px;

}
.denominationBtn{
    width: 161px;
    height: 80px;
    border-radius: 12px;
    background: rgba(249, 249, 249, 0.2);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
    font-size: var(--font-size-large);
    opacity: 0.8;
    transition: 200ms;
}
.denominationBtn:disabled{
    background-color: #494A4C !important;
}
.denominationBtn:nth-child(7){
    background-color: #5E8708;
}
.modal>div:last-child>div:first-child>div:last-child>div:last-child{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 338px;
    height: 368px;

}

.modal>div:last-child>div:last-child>div:first-child{
    width: 330px ;
    height: 480px ;
    padding: 16px;
    border-radius: 16px;
    gap: 8px;
    background: rgba(92, 93, 96, 1);
    display: flex;
    flex-direction: column;
    justify-content: start;

}
.modal>div:last-child>div:last-child>div:first-child>div:first-child{
    width: 100%;
}
.payBtn{
    width: 330px;
    height: 62px;
    padding: 16px 20px 16px 20px;
    border-radius: 12px;
    gap: 12px;
    background: rgba(59, 139, 168, 1);
    font-size: var(--font-size-medium);
}
.addPayContainer{
    width: 298px;
    height: 340px;
    gap: 8px;
overflow-x: hidden;
overflow-y: auto;
}
.payTotal{
    width: 298px;
    gap: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.transactionContainer{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;

}
.transactionContainer>div{
    display: flex;
    align-items: center;

    gap: 24px;
}
.transactionContainer>div button {
    width: 36px;
height: 36px;
padding: 12px;
border-radius: 6px;
background: rgba(249, 249, 249, 0.2);

}
.headPayment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 0px;
}